<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <header>
        </header>
        <main>
            <section id="md-container"></section>
            <section>
                <div>Look at the debugger console <strong>( <code>F12</code> )</strong>.</div>
            </section>
        </main>
    </body>
</html>