<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="shortcut icon" href="favicon.ico">
        <style>
            html, body {
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
                font-size: 12px;
            }
            body {
                padding: 15px;
            }

            #md-container pre {
                border-left: 12px solid #eee;
            }
            #md-container *:not(pre) code {
                background-color: #eee;
                border-radius: 4px;
                font-family: monospace;
                padding: 0px 10px;
            }
            #md-container hr {
                height: 1px;
                border: none;
                background-color: #ddd;
                margin-bottom: 30px;
            }
        </style>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/grayscale.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
    </head>
    <body>
        <header>
        </header>
        <main>
            <section id="md-container"></section>
            <section>
                <div>Look at the debugger console <strong>( <code>F12</code> )</strong>.</div>
            </section>
        </main>
    </body>
</html>